.fill-parent {
    width: 100%;
    height: 100%;
}

.scrollbar {
    overflow-y: auto;
    height: 100vh;
}

.image-grid {
    display: table-cell;
    text-align: center;
    column-count: 3;
    column-gap: 20px;
}

.inline-image {
    width: 100%;
}

.inline-image-container {
    display: inline;
}

