.image-grid {
    display: table-cell;
    text-align: center;
    column-count: 3;
    column-gap: 20px;
}

.inline-image {
    width: 100%;
}

.inline-image-container {
    display: inline;
}

.image-body {
    width: 85%;
}

.image-task-pane {
    float: left;
    width: 15%;
}