a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar {
    height: 100%;
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232323;
    transition: .5s ease;
    overflow-x: hidden;
    padding-top: 20px;
}

.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 25;
}